.cont-alert {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #483D8B;
    opacity: 0.75;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cust-alert_btn-next {
    /*box-shadow: 0 0 20px 1px #483D8B;*/
    font-size: 0.9rem;
    height: 1.7rem;
}

.cust-alert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 8rem;
    box-shadow: 0 0 50px 14px white;
    border: 2px solid #483D8B;
    background: linear-gradient(to top, #7B68EE, #6A5ACD, #483D8B);
    opacity: 0.95;
    z-index: 2;
    border-radius: 2rem;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 0 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cust-alert:hover {
    background: linear-gradient(to bottom, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
}
