:root {
    --img-size: 5.7rem; /* calc(512px / 3.6) 5.7rem 142px*/
    --gif-size: 12rem /*calc(150px * 2);*/
}

body {
    flex-direction: column;
    align-items: center;
}

.space-container {
    width: calc(var(--img-size) * 5);
    height: calc(var(--img-size) * 5);
    margin: auto calc(var(--img-size) / 2);
    /*border: 2px solid white;*/
    position: relative;
    /*border-radius: 50%;*/
    display: flex;
}

.space-exercise {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.input-container {
    margin: 5px;
    opacity: 0.3;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.input-container:hover {
    opacity: 0.9;
}

.container-gif {
    width: var(--gif-size);
    height: var(--gif-size);
    margin: auto;
}

.space-img {
    width: var(--img-size);
    height: var(--img-size);
    position: absolute;
    opacity: 0.9;
    /*transform: translate(-50%, -50%);*/
    left: 40%;
    top: 40%;
}

.space-img--big {
    background: url('../img/space/fly0.gif') no-repeat center center;
    background-size: cover;
    width: var(--gif-size);
    height: var(--gif-size);
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    position: absolute;
}

.space-img--big-eggs {
    opacity: 0.01;
    background-image: url('../img/space/fly1.gif');
}

.container-gif:hover .space-img--big-eggs {
    opacity: 1;
}

.btn-send {
    padding: 1px 21px;
    margin: 0 10px;
}

.inp-password {
    padding: 1px 0;
    width: 30px;
    margin: 0;
}

.cont-alert {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #483D8B;
    opacity: 0.75;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-next {
    /*box-shadow: 0 0 20px 1px #483D8B;*/
    font-size: 0.9rem;
    height: 1.7rem;
}

.cust-alert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 8rem;
    box-shadow: 0 0 50px 14px white;
    border: 2px solid #483D8B;
    background: linear-gradient(to top, #7B68EE, #6A5ACD, #483D8B);
    opacity: 0.95;
    z-index: 2;
    border-radius: 2rem;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 0 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cust-alert:hover {
    background: linear-gradient(to bottom, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
}

.opacity {
    opacity: 0.9;
}

.hide {
    display: none;
}